<div class="creat-game">
    <form #g="ngForm" (ngSubmit)="createGame(g)">
        <input type="text" placeholder="Name of the game" name="gameName" ngModel>
        <button mat-button type="submit" [mat-dialog-close]="true">Create game</button>
    </form>
</div>


<!-- <mat-stepper orientation="vertical">
    <mat-step>
        <ng-template matStepLabel>Step 1</ng-template>
        <ng-template matStepContent>
            <form #g="ngForm" (ngSubmit)="createGame(g)">
                <input type="text" placeholder="Name of the game" name="gameName" ngModel>
                <button mat-button matStepperNext type="submit">Next</button>
            </form>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 2</ng-template>
        <ng-template matStepContent *ngFor="let data of userData | async">
            <p>Create game with the name {{data.gameName}}</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="updateData(data.id)">Next</button>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 3</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
</mat-stepper> -->